<%# My bookings page needs to associate with each unique user. Use the user id %>

<%# It is not a page to see all the posted items of the user,
just the items that were booked from other people. %>

<%#   %>
<h1>My bookings</h1>


<div class="container d-flex flex-wrap justify-content-center align-items-center">
  <% @bookings.each do |booking| %>
    <div class="card-container">
      <div class="card-title-section">
        <div class="row-card-title-section-col-l">
          <p><%= booking.item.title %></p>
          <p>Renting date</p>
          <p>start<%#= booking.booking_date %></p>
        </div>
        <div class="row-card-title-section-col-r">
        <p>Some text</p>
        <p>Return date</p>
        <p>end<%#= booking.return_date %></p>
        </div>
      </div>
      <%= image_tag "default_no_image" %>
      <div class="card-infos-section">
        <p>$<%= booking.item.price %></p>
        <p class="text single-line"><%= booking.item.description %></p>
      </div>
      <div class="card-btn-details">
        <%= link_to 'More Details', item_path(booking.item), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
