<h1>Items Listing</h1>
<div class="container d-flex flex-wrap justify-content-center align-items-center">
  <% @items.each do |item| %>
    <div class="card-container">
      <div class="card-title-section">
        <div class="card-title-section-col-l"><%= item.title %></div>
        <div class="card-title-section-col-r"><p>Some text</p></div>
      </div>
      <%= image_tag "default_no_image" %>
      <div class="card-infos-section">
        <p>$<%= item.price %></p>
        <p class="text single-line"><%= item.description %></p>
      </div>
      <div class="card-btn-details">
        <%= link_to 'More Details', item_path(item), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
