<div class="container">
  <div class="card-top-container">
    <h2>Home / <%= @item.title %> details page</h2>
  </div>

  <div class="card-info-product">
      <div class="card-title-section">
        <div class="card-title-section-col-l"><%= @item.title %></div>
      </div>
      <div class="test">
        <%= image_tag(@item.photo.attached? ? cl_image_path(@item.photo.key) : asset_path('default_no_image.jpg')) %>
      </div>
      <div class="card-infos-section">
        <div class="card-txt-price">$<%= @item.price %></div>
        <div class="card-contact">
          <h3>Contact</h3>
          <div><i class="fa-solid fa-user-tie"></i> <%= @item.user.first_name %> <%= @item.user.last_name %></div>
          <% if !(@item.user.phone_number.empty?) %>
          <div><i class="fa-solid fa-phone"></i> <%= @item.user.phone_number %></div>
          <% end %>
        </div>
        <div class="card-item-description">
          <h3>Description</h3>
          <p class="text single-line"><%= @item.description %></p>
        </div>
      </div>
      <div class="card-btn-details">
        <% unless @item.user == current_user%>
          <% if @booking%>
          <%= link_to 'Pending...', new_item_booking_path(@item), class: "btn btn-primary disabled" %>
          <% else %>
            <%= link_to 'Book item', new_item_booking_path(@item), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
