<h1>Item Details</h1>

<p>
  <strong>Title:</strong> <%= @item.title %>
</p>
<p>
  <strong>Description:</strong> <%= @item.description %>
</p>
<p>
  <strong>Price:</strong> <%= number_to_currency(@item.price.to_f / 100, unit: "$") %>
</p>

<%= link_to 'Back to Items', items_path %> |
<%= link_to 'Book item', new_item_booking_path(@item) %>
